body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

h2.navbar-text.navbar-right {
  color: white;
  margin-left: 10px;
}

.btn btn-default, btn-danger {
  cursor: pointer;
}

ul li {
  cursor: pointer !important;
}

div.navbar-header h2.navbar-text.navbar-right {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 10%;
}
